.input {
  width: 95%;
  padding: 10px;
  border-radius: 35px;
  box-shadow: none;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  margin: 0 auto;
  display: block;
  margin: 5% 0;
  border: 1px solid #000;
  font-weight: 300;
}
.input:hover {
	background-color: rgba(238,238,238,.5) !important;
 /* filter: brightness(75%) !important;*/
}
.input:focus,
.input:active
 {
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 3px 3px 20px rgba(182,164,226,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 3px 3px 20px rgba(182,164,226,.6);
	border: 1px solid #B6A4E2;
}

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  font-weight: 300;
}
.input::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  font-weight: 300;
}
.input:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  font-weight: 300;
}
.input:-moz-placeholder { /* Firefox 18- */
  color: #000;
  font-weight: 300;
}

